<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../css/estilos.css">

	<title>TraduzirMais</title>
</head>

<body>

	<div class="topo3">
		<h2>TraduzirMais</h2>
	</div>

<div class="estrutura">

  <span class="input-group-text">Nome e Sobrenome:</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control">

</div>

<form>
  <div class="estrutura2">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="estrutura2">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  <fieldset class="estrutura2">
    <legend class="col-form-label col-sm-2 pt-0">Tipo de conta</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          Profissional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Comum
        </label>
      </div>
      <div class="form-check disabled">
       
      </div>
  <select class="estrutura2" aria-label="Default select example">
  <option selected>Lingua nativa</option>
  <option value="1">Brasil</option>
  <option value="2">Espanha</option>
  <option value="3">Estados unidos</option>
</select>
    </div>
  </fieldset>


   <fieldset class="estrutura2">
    <legend class="col-form-label col-sm-2 pt-0">Interesses</legend>
    <div class="col-sm-10">
      <div class="form-check">
       
      </div>
  <div class="estrutura2">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Interpretes
        </label>
      </div>
    </div>
  </div>
  <div class="estrutura2">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Tradutores
        </label>

      </div>
      </div>
    </div>
  </div>
</form>

<div class="conteudo2">
        <a href="pag3.html">Avançar</a>
</div>

	<div class="rodape">
		<p>Desenvolvido por JH e JA</p>
	</div>
	

</body>

</html>